*{
    margin: 0;
    padding: 0;
    
}
.soft-mode {
  filter: brightness(0.85);  
  transition: filter 0.3s ease;
}
.soft-mode .prev,
.soft-mode .next,
.soft-mode #softModeToggle {
  filter: brightness(1); 
}
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    background-color: #ffc2c2;
    color: white;
    font-family: 'Poppins', Quicksand;
    font-size: large;
    gap: 30px; 
}
.navbar a{
    color: #fafac7;
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover{
    color: #ffffff;
    text-decoration: none;
}
.navbar button{
    padding: 5px ;
    width: 50px;
    background: #fafac7;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px #f3f1f1;
}
.navbar button:active{
    box-shadow: none;
    transform: translateY(2px);  
}
.home {
    background-color: #fafac7; 
    background-image: url(images/gold.avif);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h1 {
    font-family: cursive;
    font-size: 100px; 
    color: #ffc2c2; 
    text-align: center; 
    padding: 20px; 
    font-weight: bold;
}
.intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; 
    margin-top: 20px;
}
.intro h2{
    font-family: 'Poppins', Quicksand;
    font-size: 30px;
    margin: 0 0 15px 0;
}
.intro p{
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    
}
.intro-img{
    width: 475px;  
    height: 423px;
}
.AboutMe{
    background-color: #ffc2c2;
    height: 100vh;
}
.AboutMe h2{
    font-family: cursive;
    font-size: 70px;
    color: #fafac7;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
 .content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 120px;
    gap: 40px;
}
.AboutMe p{
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    color: black;
    text-align: center;   
    padding: 0;
    width: 60%;
}
.image{
    background: #fafac7; 
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.image p{
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    color: black;
    text-align: center;
}
.education{
    background-color: #fafac7;
    height: 100vh;
}
.education h2{
    font-family: cursive;
    font-size: 70px;
    color: #ffc2c2;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.edu-card {
    background: #ffc2c2;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border-left: 8px solid #f4c542;
}
.edu-card h3 {
    font-family: 'Poppins', Quicksand;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}
.edu-card p {
    font-family: 'Poppins', Quicksand;
    font-size: 18px;
    color: black;
}
.edu-description {
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}
.skill{
    background-color: #ffc2c2;
    height: 100vh;
}
.skill h2{
    font-family: cursive;
    font-size: 70px;
    color: #fafac7;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.skill p{
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;   
    padding: 0;
    margin-bottom: 20px;
}
.skill .bar {
    width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    height: 25px;
}
.bar .progress{
    width:0;
    height: 25px;
    background-color: #fafac7;
    line-height: 25px;
    border-radius: 20px;
    transition: width 2s ease-in-out;
    text-align: center;
    font-family: 'Poppins', Quicksand;
}
.projects{
    background-color: #fafac7;
    height: 100vh;
}
.projects h2{
    font-family: cursive;
    font-size: 70px;
    color: #ffc2c2;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 0 120px;
}
.project-card {
    background: #ffc2c2; 
    padding: 10px;
    width: 400px;
    height: 520px;
    border-radius: 10px;
    text-align: center;
}
.project-card img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 4px solid #fafac7; 
}
.project-card h3 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color:black;
}
.project-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    text-align: center;
}
.project-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px #fbb6b6;
}
.gallery{
    background-color: #ffc2c2;
    height: 100vh;
}
.gallery h2{
    font-family: cursive;
    font-size: 70px;
    color: #fafac7;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.gallery video{
    border: 6px solid #fafac7;
    border-radius: 10px;
}
.gallery audio{
    border: 6px solid #fafac7;
    border-radius: 32px;
    padding: 10px;
    width: 250px; 
    outline: none;
    cursor: pointer;
}
.gallery canvas{
    width: 300px;
    height: 200px;
    border: 6px solid #fafac7;
    border-radius: 10px;
}
.slider{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: 6px solid #fafac7;
    border-radius: 10px;
}
.slide-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slide-container img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.slide{
    position: relative;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffc2c2;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.prev {
    left: 5px;
}
.next {
    right: 5px;
}
.prev:hover,.next:hover {
    background: #f4c542;
    color: black;
}
.contact{
    background-color: #fafac7;
    height: 100vh;
}
.contact h2{
    font-family: cursive;
    font-size: 70px;
    color: #ffc2c2;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact p{
    font-family: 'Poppins', Quicksand;
    font-size: 20px;
    color: black;
    text-align: center;   
    padding: 0;
}
.contact-box{
    background-color: #ffc2c2;  
    padding: 30px;               
    max-width: 400px;            
    margin: 0 auto;             
    border-radius: 10px;         
    border: 2px solid #c76c99;    
}
#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    background-color: #ffc2c2;
}
label {
    font-weight: bold;
    font-family: 'poppins', Quicksand;
    display: block;     
    margin-bottom: 5px;   
}
::placeholder{      
    font-family: 'Poppins', Quicksand;    
}
.form-field {
    text-align: left;     
    width: 300px;
    border: 1px solid black;
    padding: 8px;         
    margin: 10px 0;       
    border-radius: 4px;   
    box-sizing: border-box;
}
#contactForm {
    text-align: center;
}
input[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #fafac7;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #f4c542;
    color: black;
}
#font{
    font-size: 30px;
    margin: 10px;
    color: #ffc2c2;
}
#font:hover{
    color: #f4c542;
}
#Topbtn {
    position: fixed;
    bottom: 30px;
    left: 50%;              
    transform: translateX(-50%);  
    z-index: 4;
    background-color: #ffc2c2;
    color: black;
    border: 2px solid whitesmoke;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none; 
}
#Topbtn:hover {
    background-color: #f0d9e7; 
    color: black; 
}
.social-icons{
    text-align: center;
    margin-top: 20px;
}
.social-icons i{
    font-size: 30px;
    margin: 10px;
    color: #ffc2c2;
}
.social-icons i:hover{
    color: #f4c542;
}
footer{
    background-color: #ffc2c2;
    text-align: center;
    padding: 2px;
    font-family: 'Poppins', Quicksand;
    color: black;
    font-size: large;
}



